*{
    padding: 0;
    margin: 0;
}

body{
    display: flex;
}

.game-field{
    line-height: 0;
    border: 5vmin solid white;
    width: 90vmin;
    height: 90vmin;
    background: pink;
}

.game-field__cell{
    display: inline-block;
    width: 5%;
    height: 5%;
}

.black{
    background: black;
}

.green{
    background: green;
}

.description{
    height: 98vmin;
    border: 1vmin solid black;
    padding: 0 10vmin;
}

.title{
    font-size: 20vmin;
    text-align: center;
    margin-top: 10vmin;
}

.control-description{
    font-size: 10vmin;
    text-align: left;
    margin-left: 5vmin;
}

.control{
    font-size: 10vmin;
    text-align: left;
    margin-left: 10vmin;
}