*{
    padding: 0;
    margin: 0;
}

.game-field{
    line-height: 0;
    margin: 5vmin;
    width: 90vmin;
    height: 90vmin;
    background: pink;
}

.game-field__cell{
    display: inline-block;
    width: 5%;
    height: 5%;
}

.black{
    background: black;
}

.green{
    background: green;
}